anyio==3.5.0
asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
distlib==0.3.4
dj-database-url==1.0.0
Django==4.0.6
django-ckeditor==6.4.2
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-js-asset==2.0.0
django-widget-tweaks==1.4.12
filelock==3.5.0
futures==3.0.5
goslate==1.5.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
joblib==1.1.0
mysql-connector==2.2.9
# mysqlclient@ file:///C:/Users/BroMan/Desktop/django%20project/train/mysqlclient-1.4.6-cp38-cp38-win32.whl
nltk==3.7
Pillow==9.2.0 
pipenv==2022.1.8
platformdirs==2.5.0
psycopg2==2.9.3
PyDictionary==2.0.1
regex==2022.3.15
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
sqlparse==0.4.2
tqdm==4.63.1
tzdata==2021.5
urllib3==1.26.8
virtualenv==20.13.1
virtualenv-clone==0.5.7
whitenoise==6.2.0
wikipedia==1.4.0
youtube-search==2.1.0
youtube-search-python==1.6.3
