{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  .bottom {
    margin-left: 200px;
  }
</style>
<section class="container text-center">
  <h3>Welcome</h3>
  <hr />
  <br />

  <div class="bottom">
    <div>
      <table border="0">
        <tr>
          <td width="700px">
            <br />
            <br />

            <font color="#000" size="6px">
              BEST PRODUCTS WITH BEST PRICES
            </font>
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat
            rutrum eros amet sollicitudin interdum. Suspendisse pulvinar, velit
            nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque
            vitae elit. Mauris adipiscing mauris fringilla turpis interdum sed
            pulvinar nisi malesuada. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. <br /><br />
            Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
            Nullam id dolor id nibh ultricies vehicula ut id elit. <br /><br />

            <br />
          </td>

          <td style="padding-left: 20px">
            <img src="{% static 'images/shopping.jpg.' %}" width="400px" />
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="bottom">
    <div>
      <table border="0">
        <tr>
          <td width="700px">
            <font color="#000">Address </font> <br />
            <br />

            <font color="#000" size="6px">DAWA SHOPPING</font>
            <br />
            <br />
            Ethiopia Addis Abeba<br />kolfe<br />
            Contact No - 0975369718 <br />
            Email: seifudawde@gmail.com<br /><br />

            <br />
          </td>

          <td style="padding-left: 20px"></td>
        </tr>
      </table>
    </div>
  </div>
</section>
{% endblock content %}
